.main-news-container, .news-stories-container{
    padding: var(--padding);
    display:grid;
    gap: calc(var(--flex-gap-space)*4);
}

.main-news-article:hover figure figcaption a{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: var(--wta-purple);
}

.main-news-article:hover figure img{
    filter:brightness(0.75);
}

.main-news-article figure img{
    border-radius: 10px;
    width: 100%;
}

.main-news-article figure figcaption a{
    color: var(--black);
    font-size: var(--large-fontSize);
    font-weight: bold;
}

.latest-news-container h1{
    text-align:center;
    border-bottom: 3px solid var(--wta-purple);
}

.latest-news-container ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: var(--padding);
}

.latest-news-container ul .latest-news-list-item:not(:last-child){
    border-bottom: 2px solid var(--light-grey);
}

.latest-news-container ul .latest-news-list-item::marker{
    color: var(--wta-purple);
}

.latest-news-container ul .latest-news-list-item a{
    padding: calc(var(--padding)*2) 0 calc(var(--padding)*2) 0;
    color: var(--black);
}

.latest-news-container ul .latest-news-list-item a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--black);
}

@media screen and (min-width:650px){ 

}

@media screen and (min-width:1025px){ 
    
}