/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@1000&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

@font-face{
    font-family: 'CreatoDisplay';
    src: url("../creatodisplay-bold-webfont.woff"); 
    font-style: normal;
}


:root {
    /* main colors */
    --black: #000;
    --wta-purple: #7814ff;
    --grey: #818181;
    --light-grey: #e6e6e6;
    --lightest-grey: #f2f2f2;
    --white: #fff;
    --hard-surface-blue: #017bb3;
    --clay-surface-brown: #b15a38;

    /* misc colors */
    --checkmark-green: #115503;
    --facebook-blue: #117df2;
    --twitter-blue: #55acee;
    --youtube-red: #b00;
    --instagram-gradient-purple: #ba00b2;
    --instagram-gradient-pink: #d40263;
    --instagram-gradient-red: #f50403;
    --weibo-red: #e0152c;
    --snapchat-yellow: #fbff0a;

    /* font,padding sizes */
    --large-fontSize: 2rem;
    --med-fontSize: 1.5rem;
    --small-fontSize: 0.75rem;
    --ranking-fontSize: 3rem;

    --fw-small: 300;

    --flex-gap-space: 0.25rem;
    --padding: 0.5rem;
    --margin:0.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img, a{
    display:block;
}

html {
    font-size: var(--med-fontSize);
    font-family: CreatoDisplay;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body{
    background-color: var(--white);
}

/* MAIN NAV */ 

header{
    box-shadow: 0 6px 5px -5px;
}

.logo{
    display:flex;
    justify-content:center;
}

.logo a img{
    /* .logo a is a flex item whose width is max-content, expand img to fit this width */
    width:15rem;
    height:7rem;
}

.dropdown-list{
    display:none;
}

.main-nav{
    width:100%;
    background-color:var(--light-grey);
}

.list-item-main, .list-item-main-dropdown{
    display:flex;
    align-items:center;
    justify-content: center;
}

.list-item-main > a, .list-item-main-dropdown > a{
    font-size: var(--small-fontSize);
    font-weight: bold;
    color: var(--black);
    text-align:center;
    padding: 0.75em 0.25em;
}

.list-item-main:nth-child(n+2), .list-item-main-dropdown:nth-child(n+2){
    border-top: 2px solid var(--white);
}

/* FOOTER */
footer{
    padding: var(--padding);
}

.footer-header{
    font-size: calc(var(--med-fontSize) * 0.5);
    border-bottom: 3px solid var(--wta-purple);
    text-align:center;
    padding: var(--padding);
    margin-bottom: calc(var(--margin) / 2);
}

.footer-social-container{
    display:flex;
    flex-direction: column;
    gap: var(--flex-gap-space);
}

.footer-social-item a{
    color: var(--white);
    font-weight: bold;
    font-size: var(--small-fontSize);
    display:flex;
    align-items:center;
    justify-content:center;
    padding: var(--padding);
    gap: calc(var(--flex-gap-space)*2);
}

.facebook{
    background-color: var(--facebook-blue);
}

.twitter{
    background-color: var(--twitter-blue);
}

.twitter a img{
    border-radius:50%;
}

.youtube{
    background-color:var(--youtube-red);
}

.youtube a img{
    border-radius:20%;
}

.instagram{
    background: linear-gradient(45deg, 
    var(--instagram-gradient-purple), 
    var(--instagram-gradient-pink), 
    var(--instagram-gradient-red))
    /* background-color: var(--instagram-pink); */
}

.weibo{
    background-color: var(--weibo-red);
}

.snapchat a{
    background-color: var(--snapchat-yellow);
    color: var(--light-grey);
}

@media screen and (min-width:481px){
    
}

@media screen and (min-width:650px){

    /* MAIN NAV */

    header{
        display:flex;
        flex-direction: column;
        background-color: var(--white);
        position:sticky;
        top:0;
        z-index:1;
        padding: var(--padding);
    }

    .logo a img{
        width: 100%;
        height:100%;
    }

    .main-nav > ul{
        display:flex;
        justify-content:space-evenly;
        height:100%;
        flex-flow: row nowrap;
        background-color: var(--white);
    }

    .list-item-main, .list-item-main-dropdown, .list-item-dropdown{
        flex-flow: column nowrap;
        border-bottom: 3px solid transparent;
        cursor:pointer;
        position:relative;
    }

    .list-item-main-dropdown{
        /* prevents News & video link from line breaking on smaller screens */
        white-space: nowrap;
    }

    .list-item-main a{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .list-item-main a:focus-visible {
        /* :focus-visible class has to target anchor to work */
        outline: 2px dashed var(--wta-purple);
    }

    .list-item-main-dropdown a:focus-visible{
        outline: 2px dashed var(--white);
    }

    .list-item-main:hover, .list-item-main:focus, .list-item-main:visited {
        border-bottom: 3px solid var(--wta-purple);
    }

    .list-item-main:active{
        transform: scale(0.97);
    }

    .list-item-main-dropdown::after {
        content: "";
        width: 0;
        border-style: solid;
        border-width: 0.25em 0.25em;
        border-color: var(--grey) transparent transparent;
        position: absolute;
        top: 47.5%;
        /* use rem here is arrows are spaced the same; percents would cause them to be spaced dependent on size of the parent */
        right: -0.5rem;
        transition: transform 0.5s;
    }

    .list-item-main > a,  .list-item-main-dropdown > a{
        color: var(--black);
        font-size: var(--small-fontSize);
    }

    .list-item-main-dropdown:hover .dropdown-list, .list-item-main-dropdown:focus .dropdown-list {
        opacity: 1;
        pointer-events: auto;
        /* Should be a rem value since a translate percent is based on the element's height and both dropdowns are different heights */
        transform: translateY(0.75rem);
    }

    .list-item-main-dropdown:hover::after, .list-item-main-dropdown:focus::after{
        transform: rotate(180deg);
    }

    .dropdown-list{
        background-color: var(--black);
        color: var(--white);
        display:flex;
        flex-flow: column nowrap;
        position: absolute;
        /* 50% of the height of the parent element */
        top:65%;
        transition: transform .5s ease-in-out;
        opacity: 0;
        pointer-events: none;
        width:max-content;
    }

    .dropdown-list::before{
        content: "";
        width: min-content;
        border-style: solid;
        /* border-top,border-left and right, border-bottom */
        border-width: 0.35em 0.35em;
        /* border-top,border-left and right, border-bottom */
        border-color: transparent transparent var(--black);
        /* positioned relative to .dropdown */
        position:absolute;
        /* percentage of the containing block's height */
        /* top:-5.5%; */
        /* use rems unit to keep same top positioning on both dropdowns  */
        top:-0.5rem;
        /*combination of these 3 props centers the arrow relative to the dropdown */
        right:0;
        left:0;
        margin:0 auto;
    }

    .list-item-dropdown{
        padding: var(--padding);
        display:flex;
        justify-content:center;
        align-items:center
    }

    .list-item-dropdown > a{
        text-decoration: none;
        color: var(--white);
        font-size: var(--small-fontSize);
        border-bottom: 2px solid transparent;
        width: fit-content;
    }

    .list-item-dropdown a:hover, .list-item-dropdown a:focus, .list-item-dropdown a:visited{
        border-bottom: 2px solid var(--white);
    }

    /* FOOTER */
    .footer-social-container{
        flex-flow: row wrap;
        justify-content: center;
    }

    .footer-social-item{
        /* Always maintain 3 columns of equal footer flex items, subtract out the gap space in between the columns */
        flex-basis: calc(33.3% - calc(var(--flex-gap-space)*2));
    }

    .footer-header{
        font-size: calc(var(--med-fontSize) * 0.75);
    } 
}

@media screen and (min-width:1025px){
    
    /* html{
        font-size: var(--large-fontSize);
    } */

    header{
        flex-direction: row;
        gap: calc(var(--flex-gap-space) * 4);
    }
}

/* @media screen and (min-width:1025px){
    .list-item-main > a,  .list-item-main-dropdown > a{
        font-size: calc(var(--med-fontSize) * 0.70);
    }

    .list-item-main-dropdown::after {
        right: -5%;
    }

    .player-first-name{   
        font-size: calc(var(--med-fontSize) * 0.70);
    }

    .player-last-name{
        font-size: calc(var(--med-fontSize) * 0.90);
    }
} */