
.banner{
    background-color: var(--wta-purple);
    color: var(--white);
    padding: var(--padding);
    margin: calc(var(--margin)*3) 0;
    text-align:center;
}

.scores-wrapper{
    padding:var(--padding);
}

.surface-container img{
    width: 100%;
    max-height: 180px;
}

.surface-container{
    position:relative;
}

.surface-label{
    width: 100%;
    display:flex;
    justify-content:space-between;
    padding: var(--padding);
    position: absolute;
    bottom: 0.5rem;
    font-size: var(--small-fontSize);
}

.surface-date{
    background-color: var(--black);
    color: var(--white);
    padding: calc(var(--padding) / 2);
    font-weight: bold;
}

.surface-type {
    padding: calc(var(--padding) / 2);
    text-transform: uppercase;
    font-weight:bold;
    background-color: var(--hard-surface-blue);
    color: var(--white);
}

.tournaments-and-surface-aside{
    display:flex;
    flex-direction: column;
    gap: var(--flex-gap-space);
}

.surface-container{
    order: 2;
}

.tournament-aside-wrapper {
	display: flex;
	/* flex-flow: row wrap; */
	background-color: var(--black);
	padding: calc(var(--padding) / 2);
	gap:var(--flex-gap-space);
	margin-top: calc(var(--margin)/2);
	flex-direction: column;
    align-items: center;
}

.tournament-spec{
    color: var(--white);
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.tournament-location{
    font-weight: bold;
}

.tournament-wrapper {
    margin-top:calc(var(--margin)/2);
}

.match-container{
    display:flex;
    gap: calc(var(--flex-gap-space)*2);
    flex-direction:column;
}

.match-wrapper-title{
    margin: var(--margin) 0;
}

.match-heading{
    background-color: var(--light-grey);
    padding:calc(var(--padding) / 2);
    display:flex;
    justify-content: space-between;
}

.match-status-time-container{
    display:flex;
    gap:calc(var(--flex-gap-space)*2);
}

.match-status{
    font-weight: bold;
    text-transform: uppercase;
}

.match-time{
    font-weight:bold;
    color: var(--grey);
    display:flex;
    align-items:center;
}

.match-round{
    color: var(--grey);
}

.match-scores-grid-container{
    display: grid;
    grid-template-columns: 10fr repeat(3,1fr);
}

.match-player-container{
    display:flex;
    align-items:center;
    gap:calc(var(--flex-gap-space)*2);
    border-bottom:1px solid var(--light-grey);
}

.match-player-container img {
    /*Prevents the flags from shrinking due to being a flex item */
    min-width:40px;
}

.match-player-name{
    display:flex;
    align-items:center;
    font-weight:bold;
    gap:var(--flex-gap-space);
    width:100%;
}

.match-player-first-initial {
    color: var(--grey);
}

.match-player-last-name{
    font-weight: var(--fw-small);
}

.ranking{
    height:100%;
    color: var(--wta-purple);
    font-weight:var(--fw-small);
}

.checkmark{
    color: var(--checkmark-green);
    margin-left:auto;
}

.match-player-container:nth-child(1){
    border-left: 3px solid var(--wta-purple);
}

.match-player-container:nth-child(5){
    border-left: 3px solid var(--black);
}

.grid-item{
    padding:calc(var(--padding) / 2);
}

.score{
    font-weight:bold;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light-grey);
}

.score:nth-child(2n){
    background-color: var(--lightest-grey);
}



@media screen and (min-width:650px){ 

    .match-container{
        flex-direction:row;
        flex-wrap:wrap;
    }

    .match-box {
        /* subtract out the gap so match boxes can stack horizontally */
        /* 420px prevents some match boxes from shrinking more than other match boxes with longer names */
        flex-basis: max(420px,calc(45% - calc(var(--flex-gap-space)*2)));
    }

}

@media screen and (min-width:1025px){ 
    .scores-wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: calc(var(--flex-gap-space)*2);
        max-height:min-content;
    }
    
    /** Tournament Aside CSS **/
    .tournaments-and-surface-wrapper{
        grid-row: 1 / -3;
    }

    .tournament-aside-wrapper{
        align-items: flex-start;
    }
    
    .tournaments-and-surface-aside{
        position:sticky;
        /* z-index:0; */
        top:0;
    }

    .match-box{
        font-size: var(--small-fontSize);
    }
    
    
}