.banner{
    background-color: var(--wta-purple);
    color: var(--white);
    padding: 0.5em;
    margin: 0.5em 0 1.5em 0;
    text-align:center;
}

/* .match-container{
    display:flex;
    flex-flow: row wrap;
    gap: 0.5rem;
} */

/* .match-box{
    flex: 0 0 45%;
} */

.match-container{
    display:grid;
    grid-template-columns: repeat(2, minmax(30%,45%));
    justify-content: space-around;
    gap: 0.5rem;
}

.match-heading{
    background-color: var(--light-grey);
    padding:0.35rem;
    font-size: var(--small-fontSize);
    display:flex;
    justify-content: space-between;
}

.match-status-time-container{
    display:flex;
    gap:0.5em;
}

.match-status{
    font-weight: 900;
    text-transform: uppercase;
}

.match-time{
    font-size: calc(var(--small-fontSize) * 0.75);
    font-weight:bolder;
    color: var(--grey);
    display:flex;
    align-items:center;
}

.match-round{
    color: var(--grey);
}

.match-scores-grid-container{
    display: grid;
    grid-template-columns: 10fr repeat(3,1fr);
    /* grid-template-rows: repeat(2,auto); */
}

.match-player-container{
    display:flex;
    gap:0.5rem;
    border-bottom:1px solid var(--light-grey);
}

.match-player-name{
    display:flex;
    align-items:center;
    font-size: calc(var(--small-fontSize) * 0.75);
    font-weight:bold;
    gap:0.25rem;
}

.match-player-first-initial{
    color: var(--grey);
}

.match-player-container:nth-child(1){
    border-left: 3px solid var(--wta-purple);
}

.match-player-container:nth-child(5){
    border-left: 3px solid var(--black);
}

.grid-item{
    padding:0.5rem;
}

.score{
    font-weight:bolder;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light-grey);
}

.score:nth-child(2n){
    background-color: var(--lightest-grey);
}