.player-wrapper{
    padding: var(--padding);
    color: var(--white);
    font-size: calc(var(--med-fontSize) * 0.75);
}

.player-wrapper, .player-header-wrapper{
    display:flex;
    flex-direction: column;
    gap: calc(var(--flex-gap-space)*2);
}

.player-ranking, .player-body-wrapper{
    padding: var(--padding);
    background: var(--wta-purple);
}

.player-ranking p:nth-child(2){
    font-size: calc(var(--large-fontSize) * 1.5);
    font-weight: bold;
}

.player-header-wrapper{
    position:relative;
    overflow:hidden;
}

.player-header-wrapper::after{
    content:"";
    display:block;
    padding-top: 5em;
    background-color: var(--light-grey);
}

.player-header-wrapper img {
	position: absolute;
	right: -8%;
	width: 100%;
	height: 170%;
}

.player-body-wrapper{
    display:flex;
    flex-direction:column;
    gap: calc(var(--flex-gap-space)*4);
}

.player-name{
    font-weight: bold;
}

.player-name p:nth-child(2){
    font-size: var(--large-fontSize);
}

.player-origin-country{
    display:flex;
    gap: calc(var(--flex-gap-space)*2);
}

.player-origin-country p{
    display:flex;
    align-items:center;
    text-transform: uppercase;
}

.player-attr-grid{
    display:grid;
    grid-template-columns: repeat(2,max-content);
    grid-template-rows: repeat(2,auto);
    gap:calc(var(--flex-gap-space)*4);
    grid-auto-flow: column;
}

.player-attr-name{
    font-size: var(--med-fontSize);
}

.player-attr-value-lg{
    font-size: calc(var(--med-fontSize) * 1.25);
    font-weight: bold;
}

.player-attr-value-sm{
    font-size: var(--small-fontSize);
    opacity: 0.5;
}

@media screen and (min-width:650px){ 
    .player-wrapper{
        flex-direction:row;
    }

    .player-wrapper > * {
        flex: 1;
    }
    
    .player-header-wrapper img {
        right: -30%;
        width: 145%;
        height: 170%;
    }

    .player-header-wrapper::after{
        flex-grow:1;
    }
}

@media screen and (min-width:1025px){

    .player-wrapper{
        justify-content:center;
    }
    .player-wrapper > * {
        max-width:600px;
    }
}