.tournament-wrapper{
    padding: var(--padding);
    
}

.tournaments-flex-container{
    display:flex;
    flex-direction:column;
    gap:calc(var(--flex-gap-space)*2);
}

.tournament-box{
    display:flex;
    flex-direction: column;
    gap: var(--flex-gap-space);
}

.tournament-header{
    position:relative;
}

.tournament-header > img{
    width: 100%;
}

.tournament-date{
    display:flex;
    gap: calc(var(--flex-gap-space)*2);
    /* justify-content: center; */
    margin: calc(var(--margin)*2) 0;
}

.tournament-date h1{
    display:flex;
    align-items: center;
}

.tournament-date-img{
    padding:var(--padding) calc(var(--padding)*2);
    background-color: var(--lightest-grey);
    border-radius: 10px;
}

/* Date, court type ontop of the surface image */

.tournament-header-date-surface{
    font-weight: bold;
    font-size: var(--small-fontSize);
    color: var(--white);
    padding: var(--padding);
    width:100%;
    display:flex;
    justify-content: space-between;
    position:absolute;
    bottom:0;
}

.tournament-header-date-surface span img {
    border-radius: 10px;
}

.tournament-header-date-surface span {
    display: flex;
    align-items: center;
    padding: calc(var(--padding)/2);
    gap: calc(var(--flex-gap-space)*2);
}

.tournament-header-date-surface span:first-child{
    background-color: var(--black);
    
}

.tournament-header-date-surface span:last-child:is(.hard-surface,.clay-surface,.grass-surface){
    text-transform: uppercase;
}

.tournament-header-date-surface span:last-child.hard-surface {
    background-color: var(--hard-surface-blue);
}

.tournament-header-date-surface span:last-child.clay-surface {
    background-color: var(--clay-surface-brown);
}

.tournament-header-date-surface span:last-child.grass-surface {
    background-color: var(--grass-surface-green);
}

/* Tournament-body */
.tournament-body{
    background-color: var(--light-grey);
    padding: var(--padding);
}

.tournament-body p{
    color: var(--grey);
}

@media screen and (min-width:650px){ 
    .tournament-date{
        justify-content: center;
    }

    .tournaments-flex-container{
        flex-flow: row wrap;
        /* justify-content: space-between; */
    }

    .tournament-box{
        flex-basis: calc(50% - calc(var(--flex-gap-space)*2));
    }

    .tournament-body{
        height:100%;
        display:flex;
        flex-direction:column;
        /* justify-content: center; */
    }
}

@media screen and (min-width:1025px){
    .tournament-box{
        flex-basis: calc(33.33% - calc(var(--flex-gap-space)*2));   
    }
}